*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
}

body::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(images/header-image.png);
    background-position: center;
    opacity: o.5;
}
.input{
    position: absolute;
    width: 430px ;
    left: 50%;
    top: 50%;
    background: rgba(0, 0,0,0.7);
    padding: 60px;
    border-radius: 4px;
    transform: translate(-50%, -50%);

}

nav{
    position: fixed;
    z-index: 1;
    padding: 25px 60px;
}

nav img{
    width: 160px;
}

.input h2{
    color: #fff;
    font-size: 2rem;
   
}

.input form{
    margin: 25px 0 65px;
}

form .form{
    position: relative; 
   height: 50px;
   margin-bottom: 16px;
   
}

.form input{
    height: 100%;
    width: 100%;
    background: #333 ;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0 20px;
}

.form label{
   position: absolute;
   left: 20px;
   top: 50px;
   color: #8c8c8c;
   transform: translateY(-50%);
   font-size: 1rem;
   pointer-events: none;
   transition: all 0.1s ease;

}

.input input:is(:focus, :valid)~label{
    transform: translateY(-130%);
    font-size: 0.75rem; 
    }

.input input:is(:focus, :valid){

   background: #444;

}

form button{
    width: 100% ;
    padding: 16px;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background: red ;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    margin: 25px 0 10px;
   transition: 0.1s ease;

}

form button:hover{
   background: rgb(214, 6, 6);
}

form .form-help{
    display: flex;
    justify-content: space-between;
}

form .form-help :where(label, a ){
    font-size: 0.9rem;
}


form .remember-me input{
    margin-right: 5px;
    accent-color:#b3b3b3 ;
}

.input :where(label, p, small, a){
    color: #b3b3b3;
}

.input p a{
    color: white;
    
}

.input small{
    display: block;
    margin-top: 15px;

}

.input small a{
   color: blue; 
}

.input a{
    text-decoration: none;
}

.input a:hover{
    text-decoration: underline;
}

@media ( max-width: 740px){
    body::before{
        display: none;
    }
    nav, .input{
       padding: 20px; 
    }
    nav a img{
        width: 140px;
    }
    .input{
        top: 43%;
        width: 100%;
    }
    .input form{
        margin: 25px 0 40px;
    }
}

